body{
    display: flex;
}
.button{
    border: 5px;
    font-size: 128PX;
    margin: 5px;
}

.photo{
    width: 100PX;
    height: 100PX;
    margin-left: 1px;
}

#no{
    color: red;
    text-decoration: none;
    border:solid red;
}

#no:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
    border:solid red;
    background-color: rgb(0, 0, 0);
}

#yes{
    color: green;
    text-decoration: none;
    border:solid green;
}


#yes:hover{
    color: green;
    text-decoration: none;
    border:solid green;
    background-color: black;
}

#vopros{
    color: rgb(236, 213, 2);
    text-decoration: none;
    border:solid rgb(236, 213, 2);
}

#vopros:hover{
    color: rgb(236, 213, 2);
    text-decoration: none;
    border:solid rgb(236, 213, 2);
    background-color: black;
}